.navc {   
    background-color: #6d6666;
}

li.item {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.navc a {
    color: white;
    text-decoration: none;
}

.footerc {
    background-color: #6d6666;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.footerc a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #e4dede;
}